<div class="col-md-2 bg-dark text-white min-vh-100 p-3">

    <h4 class="text-center">Sistema</h4>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" href="#" onclick="cargarPagina('dashboard')">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#" onclick="cargarPagina('vehiculos')">
                Vehículos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#" onclick="cargarPagina('conductores')">
                Conductores
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#" onclick="cargarPagina('rutas')">
                Rutas
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#" onclick="cargarPagina('solicitudes')">
                Solicitudes
            </a>
        </li>

    </ul>

</div>