<div class="bg-dark text-white min-vh-100 p-4">

<h4 class="text-center">Sistema</h4>

<hr>

<ul class="nav flex-column">

<li class="nav-item">
<a class="nav-link text-white" href="../index.html">Dashboard
</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="../pages/vehiculos.html">Vehículos
</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="../pages/conductores.html">Conductores
</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="../pages/rutas.html">Rutas
</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="../pages/solicitudes.html">Solicitudes
</a>
</li>

</ul>

</div>