<div class="sidebar-header">
    <h4><i class="bi bi-truck text-primary"></i> TransFleet</h4>
</div>
<ul class="nav flex-column mt-3">
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('dashboard')">
            <i class="bi bi-speedometer2"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('vehiculos')">
            <i class="bi bi-car-front"></i> Vehículos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('conductores')">
            <i class="bi bi-people"></i> Conductores
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('clientes')">
            <i class="bi bi-person-circle"></i> Clientes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('rutas')">
            <i class="bi bi-geo-alt"></i> Rutas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('solicitudes')">
            <i class="bi bi-clipboard-check"></i> Solicitudes
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#" onclick="cargarPagina('mapa')">
        <i class="bi bi-map"></i> Rastreo de Viaje
    </a>
    </li>
    <li class="nav-item mt-4 pt-3 border-top" style="border-top: 1px solid #334155 !important;">
        <a class="nav-link" href="#" onclick="logoutUser(); return false;" style="color: #ef4444;">
            <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
        </a>
    </li>
</ul>